.footer{
  background-color: #172B4D;
  color: white;
}
.footer .container{
  max-width: 1140px;
  margin: 0 auto;
}
.footer .upper-section{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #FFF;
}
.footer-logo{
  height: 40px;
}
.footer-card{
  width: 197px;
}
.footer-card h5{
  margin-bottom: 8px;
}
.footer .lower-section{
  height: 62px;
}